.video1_template {
    width: fit-content;
    height: 555px;
    display: inline-flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 55px;
}

.video2_template {
    width: fit-content;
    height: 555px;
    display: inline-flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 55px;
}

.video_title {
    display: none;
    margin-left: 10px;
    font-size: 2.5rem;
    border: 2px solid black;
}

.check {
    width: fit-content;
    margin-top: 60px;
    margin-left: 70px;
}

.input_video {
    margin-top: 30px;
}

.input_time {
    width: 25px;
    height: 20px;
    padding-right: 10px;
    border-radius: 5px;
}
.submit {
    width: 300px;
    margin-top: 10px;
    margin-left: 40px;
}

.question {
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    background: white;
    margin-top: 30px;
    margin-left: 60px;
    width: 400px;
    height: 460px;
    border: 2px solid black;
}

.form {
    flex-direction: row;
}

.currentTime {
    flex-direction: column;
    margin-left: 30px;
}